@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e4e4e7;
  /* Zinc 200 */
  --foreground: #0f172a;
  /* Slate 950 */
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-purple-400;
  }
}