@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  /* Slate 950 */
  --foreground: #f8fafc;
  /* Slate 50 */
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .glass {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #60a5fa, #6366f1);
  }
}